body {
    margin: 0;
    font-family: poppins;
}

:root {
    --nude: #CABCBC;
    --water: #768EAC;
    --earth: #635455;
    --charcoal: #333333;
    --lightnude: #E4DDDD;


    --excitement: #FFA300; 
    --relaxation: #1788C1;
    --lightGrey: #CECECE;
    --darkGrey: #747474;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    color: var(--water);
    line-height: 1rem;
}

h4 {
    font-size: 1rem;
    color: white;
    line-height: 1rem;
    font-weight: 500;
}

p {
    font-size: 0.8rem;
}

.top-nav {
    width: 100vw;
    height: 100px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--lightnude);
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    display: inline-block;
    padding-left: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--earth);
    text-decoration: none;
}

#header-logo {
    height: 100%;
    width: 100%;
    background-image: url(../images/thelittlepot-logo.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}


.hero {
    width: 100vw;
    height: 80vh;
    background-image: url(../images/hero-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 8rem;
    gap: 1rem;
}

.hero h1, .hero i {
    color: white;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / 13;
    justify-content: center;
}

.about-section {
    width: 80%;
    margin: 0rem auto 2rem auto;
    display: grid;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    justify-content: center;
    position: relative;
    top: -50px;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 5px 10px 50px 0px var(--lightGrey);
}

.about-section h2 {
    color: var(--water);
}

.about-image {
    height: 100%;
    width: 100%;
    background-image: url(../images/about-visual-2.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 7;
}

.about-content {
    grid-column: 7 / 13;
}

.starting-section {
    width: 100vw;
    display: grid;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    background-color: var(--lightnude);
}

.starting-section .section-header h3,
.starting-section .section-header h2 {
    color: var(--earth);
}

.starting-card-1 {
    grid-column: 1 / 5;
    height: 300px;
    display: flex;
    align-items: flex-end;
    background-image: url(../images/clay.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;

}

.starting-card-2 {
    grid-column: 5 / 9;
    height: 300px;
    display: flex;
    align-items: flex-end;
    background-image: url(../images/technique.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;
}

.starting-card-3 {
    grid-column: 9 / 13;
    height: 300px;
    display: flex;
    align-items: flex-end;
    background-image: url(../images/tools.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;
}

#clay, #technique, #tool {
    background-color: white;
    padding: 1rem;
    height: fit-content;
    width: 100%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#clay-details, #technique-details, #tool-details {
    display: none;
    opacity: 0;
    transition: 500ms;
}

.starting-card-1:hover #clay-details {
    display: contents;
    opacity: 1;
    transition: 500ms;
}

.starting-card-2:hover #technique-details {
    display: contents;
    opacity: 1;
    transition: 500ms;
}

.starting-card-3:hover #tool-details {
    display: contents;
    opacity: 1;
    transition: 500ms;
}

.cta {
    background-color: var(--water);
    border-radius: 0.2rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    height: fit-content;
    width: fit-content;
}

.cta p {
    margin-bottom: 0;
    color: white;
}

.tutorial-section .section-header h3,
.tutorial-section .section-header h2 {
    color: var(--earth);
}

.tutorial-section {
    width: 100%;
    margin: 0px auto;
    display: grid;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 40% 60%; */
    gap: 1rem;
    justify-content: center;
    /* border: 1px solid var(--excitement); */
}

.tutorial-cards {
    height: 450px;
    border-radius: 0.5rem;
    background-color: white;
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    /* flex-direction: column; */
    box-shadow: 2px 2px 10px 0px var(--lightGrey);
    transition: box-shadow 300ms ease-in-out;
}

.tutorial-cards:hover {
    box-shadow: 5px 5px 20px 0px var(--lightGrey);
}

.tutorial-card-wrapper {
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

.tutorial-details {
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem 0rem 1rem;
    padding: 1rem 1rem 0rem 1rem;
    border-radius: 0.2rem 0.2rem 0rem 0rem;
    background-color: white;
    position: relative;
    top: -30px;
}

.details-top h4 {
    color: var(--excitement);
}

.tutorial-details p {
    font-size: 0.6rem;
}

.tutorial-details a {
    font-size: 0.8rem;
    text-decoration: none;
}

.details-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline
}

.star-rating {
    display: flex;
    align-items: center;
}

.star {
    font-size: 0.7rem;
    gap: 0.1rem;
    color: var(--excitement);
}

#tutorial-1 {
    grid-column: 1 / 5;
    /* background-image: url(../images/yosemite.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 70%; */
}

#tutorial-visual-1 {
    background-image: url(../images/firing.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 70%;
    border-radius: 0.5rem 0.5rem 0 0;
    transition: background-size 500ms ease-in-out;
}

#tutorial-2 {
    grid-column: 5 / 9;
}

#tutorial-visual-2 {
    background-image: url(../images/carving.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 70%;
    border-radius: 0.5rem 0.5rem 0 0;
    transition: background-size 500ms ease-in-out;
}

#tutorial-3 {
    grid-column: 9 / 13;
}

#tutorial-visual-3 {
    background-image: url(../images/glazing.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 70%;
    border-radius: 0.5rem 0.5rem 0 0;
    transition: background-size 500ms ease-in-out;
}

#tutorial-1:hover #tutorial-visual-1 {
    background-size: 120%;
}

#tutorial-2:hover #tutorial-visual-2 {
    background-size: 120%;
}

#tutorial-3:hover #tutorial-visual-3 {
    background-size: 120%;
}


.tutorial-section .cta {
    grid-column: 5 / 9;
    width: 100%;
    color: var(--water);
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


.inspiration-section {
    width: 100vw;
    display: grid;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    background-color: var(--lightnude);
}

.inspiration-section .section-header h3,
.inspiration-section .section-header h2 {
    color: var(--earth);
}

.inspiration-wrapper {
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    height: 500px;
    width: 100%;
}

#inspiration-1 {
    grid-column: 1 / 6;
    grid-row: 1 / 1;
    background-image: url(../images/inspiration-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#inspiration-2 {
    grid-column: 6 / 9;
    grid-row: 1 / 1;
    background-image: url(../images/inspiration-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#inspiration-3 {
    grid-column: 1 / 5;
    grid-row: 2 / 2;
    background-image: url(../images/inspiration-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#inspiration-4 {
    grid-column: 5 / 9;
    grid-row: 2 / 2;
    background-image: url(../images/inspiration-4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#inspiration-5 {
    grid-column: 9 / 13;
    grid-row: 1 / 3;
    background-image: url(../images/inspiration-5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inspiration-section .cta {
    grid-column: 5 / 9;
    width: 100%;
    color: var(--earth);
    background-color: var(--lightnude);
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}







.experience-card-1 {
    grid-column: 1 / 5;
    background-image: url(../images/book-flight-visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

.experience-card-2 {
    grid-column: 5 / 9;
    background-image: url(../images/reservation-visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

.experience-card-3 {
    grid-column: 9 / 13;
    background-image: url(../images/plan-visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

.card-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
}

.card-title-wrapper h3 {
    margin-bottom: 0px;
}

.icons {
    height: 20px;
}

.divider {
    width: 100%;
    height: 2px;
    border-bottom: 2px solid var(--excitement);
    margin: 1rem 0;
}

.card-wrapper {
    padding: 1rem;
    background-color: rgba(51, 51, 51, 0.8);
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: height 500ms ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.card-details p {
    color: white;
}

.hidden {
    display: none;
}

.card-wrapper:hover {
    height: 100%;
}
















.subscribe-section {
    width: 100vw;
    height: 50vh;
    background-image: url(../images/subscribe-overlay.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.subscribe-section h2 {
    color: var(--lightGrey);
}

.subscribe-section p {
    color: var(--lightGrey);
}

.subscribe-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.subscribe-button {
    background-color: white;
    color: var(--water);
    border-radius: 0.2rem;
    border: 0;
}

.subscribe-button:hover {
    background-color: var(--water);
    color: white;
}

.footer {
    width: 100vw;
    height: 100px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--earth);
}

#footer-logo {
    height: 100%;
    width: 100%;
    background-image: url(../images/thelittlepot-logo-white.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer .nav-links a {
    display: inline-block;
    padding-left: 0;
    margin-right: 1rem;
    color: var(--lightnude);
    text-decoration: none;
}




/* box-shadow: 5px 10px 50px 0px var(--lightGrey); */